# Server configuration
HOST_IP=
HOST_PORT=

# Database configuration
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_PORT=

# Nodemailer configuration
NM_SERVICE=
NM_USER=
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REFRESH_TOKEN=

# Supabase configuration
SUPABASE_URL=
SUPABASE_KEY=